@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body.login{
    background-color: #000;
    font-family: 'Inter', sans-serif;
}

.login section{
    color: #fff;
}